[Unit]
Description=Service to automatically start the MQTT to InfluxDB Bridge
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/MQTTInfluxDBBridge.py

[Install]
WantedBy=multi-user.target
